<h1>Cadastrar</h1>
<h6>Os campos com (*) são preenchimento obrigatório.</h6>
<!--h-->
<!-- #f="ngForm" (ngSubmit)="onSubmit(f)"-->
<!--Nome-->
<form *ngIf="!!formulario" [formGroup]="formulario" (ngSubmit)="onsub()">
  <div class="form-grup">
    <label for="nome">Nome:</label>
    <input
      formControlName="nome"
      type="texto"
      class="form-control"
      placeholder="Nome*"
      [ngClass] = "{'is-invalid': submitted && formulario.controls.nome.errors}"
    />
    <div *ngIf="submitted && formulario.controls.nome.errors" class="invalid-feedback">
      <p *ngIf="formulario.controls.nome.errors.required">O preenchimento do nome é obrigatório</p>
    </div>
  </div>
  <!--Sobrenome-->
  <div class="form-grup">
    <label for="sobrenome">Sobrenome:</label>
    <input
      formControlName="sobrenome"
      type="texto"
      class="form-control"
      placeholder="Sobrenome*"
      [ngClass] = "{'is-invalid': submitted && formulario.controls.sobrenome.errors}"
    />
    <div *ngIf="submitted && formulario.controls.sobrenome.errors" class="invalid-feedback">
      <p *ngIf="formulario.controls.sobrenome.errors.required">O preenchimento do nome é obrigatório</p>
    </div>
  </div>
  <!--Email-->
  <div class="form-grup">
    <label for="email">Email:</label>
    <input
      formControlName="email"
      type="texto"
      class="form-control"
      placeholder="Nome@email.com*"
      [ngClass]="{ 'is-invalid': submitted && formulario.controls.email.errors }"
      
    />
    <div *ngIf="submitted && formulario.controls.email.errors" class="invalid-feedback">
      <p *ngIf="formulario.controls.email.errors.required">O preenchimento do e-mail é obrigatório</p>
      <p *ngIf="formulario.controls.email.errors.email">O e-mail deve ser um endereço válido</p>
    </div>
  </div>
  <!--Senha-->
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Senha:</label>
    <div class="col-sm-10">
      <input
        formControlName="pwd"
        type="password"
        class="form-control"
        placeholder="Senha"
        [ngClass]="{ 'is-invalid': submitted && formulario.controls.pwd.errors }"
      />
      <div *ngIf="submitted && formulario.controls.pwd.errors" class="invalid-feedback">
        <p *ngIf="formulario.controls.pwd.errors.required">O preenchimento da senha é obrigatório</p>
        <p *ngIf="formulario.controls.pwd.errors.minlength">A senha deve ter no minimo 6 caracteres</p>
        <p *ngIf="formulario.controls.pwd.errors.maxlength">A senha deve ter no máximo 15 caracteres</p>
      </div>
    </div>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" /> Lembre me</label>
  </div>

  <button type="submit" class="btn btn-primary">Cadastrar</button>
  <button class="btn btn-secondary" (click)="onReset()">Cancelar</button>
  <!--button type="button" class="cancelbtn">Cancelar</button-->
  <app-form-debug [form]="formulario"></app-form-debug>
</form>
